{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update information</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="{% static 'img/icon.png' %}">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-image: url("/static/img/school.jpg");
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        h2 {
            margin-bottom: 20px;
        }

        .container {
             /* Adjust the opacity to make it a little pale */
            padding: 20px;
            border-radius: 10px;
        }

        .card {
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        form {
            max-width: 600px;
            margin: auto;
        }

        .info-box {
            background-color: #f0f8ff;
            padding: 10px;
            margin-bottom: 10px;
        }

        .delete-update-buttons {
            margin-top: 10px;
        }

        #dashboard1 {
            margin-bottom: 30px;
        }

        .action-column {
            width: 130px; /* Adjust the width as needed */
        }

        /* Adjust card width for salary details */
        .salary-card {
            width: 200px;
            margin-right: 20px;
            display: inline-block;
        }

        /* Definition for each card */
        .card-definition {
            margin-top: 10px;
            font-style: italic;
            color: #555;
        }

        .table-bordered {
    border-color: #beb8b8; /* Change the color to your preferred shade */
}
    </style>
</head>

<body>
    <a class="btn btn-primary" id="dashboard1" href="{% url 'teacher_dashboard' teacher.teacher_id %}">Back to
        Dashboard</a>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Faculty Information</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'update_faculty_idv' teacher.teacher_id %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="first_name" class="form-label">First Name</label>
                            <input autocomplete="off" type="text" class="form-control" id="first_name" name="first_name"
                                value="{{ teacher.first_name }}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input autocomplete="off" type="text" class="form-control" id="last_name" name="last_name"
                                value="{{ teacher.last_name }}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="date_of_birth" class="form-label">Date of Birth</label>
                            <input autocomplete="off" type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                                value="{{ teacher.dob|date:'Y-m-d' }}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender" name="gender" required>
                                <option value="Male" {% if teacher.gender == "Male" %}selected{% endif %}>Male</option>
                                <option value="Female" {% if teacher.gender == "Female" %}selected{% endif %}>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
    <div class="col-md-6">
        <label for="contact_number" class="form-label">Contact Number</label>
        <input autocomplete="off" type="tel" class="form-control" id="contact_number" name="contact_number"
            value="{{ teacher.phone }}" required>
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input autocomplete="off" type="email" class="form-control" id="email" name="email" value="{{ teacher.email }}"
            required>
    </div>
</div>
<div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <textarea class="form-control" id="address" name="address" rows="3"
        required>{{ teacher.address }}</textarea>
</div>
                    <!-- Add other input fields for faculty information as needed -->
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>

        <!-- Teaching Information -->
        <div class="card">
            <div class="card-header">
                <h2>Teaching Details</h2>
            </div>
            <div class="card-body">
                {% for course in teaching %}
                <div class="info-box salary-card">
                    <p><strong>Course ID:</strong> {{ course.courseID }}</p>
                    <p><strong>Semester:</strong> {{ course.sem }}</p>
                    <p><strong>Year:</strong> {{ course.year }}</p>
                    <p><strong>Department:</strong> {{ course.department }}</p>
                    <p><strong>Position:</strong> {{ course.position }}</p>
                    <p><strong>Leaves Taken:</strong> {{ course.leavesTaken }}</p>
                    <p><strong>Leaves Allotted:</strong> {{ course.LeavesAlloted }}</p>
                    <!-- Add Delete and Update buttons for Teaching -->
                    <div class="delete-update-buttons">

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Salary Information -->
        <div class="card">
            <div class="card-header">
                <h2>Salary Details</h2>
            </div>
            <div class="card-body">
                {% for salary_info in salary %}
                <div class="info-box salary-card">
                    <p><strong>Salary ID:</strong> {{ salary_info.salaryID }}</p>
                    <p><strong>Amount:</strong> {{ salary_info.amt }}</p>
                    <p><strong>Payment Date:</strong> {{ salary_info.paydate }}</p>
                    <p><strong>Semester:</strong> {{ salary_info.sem }}</p>
                    <!-- Add Delete and Update buttons for Salary -->
                    <div class="delete-update-buttons">
                        <!-- Your buttons go here -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Paper Information -->
        <div class="card">
            <div class="card-header">
                <h2>Paper Details</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Paper ID</th>
                            <th>Title</th>
                            <th>Journal</th>
                            <th>Publication Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paper_info in paper %}
                        <form id="paper_idv" method="POST"
                            action="{% url 'update_paper_idv' teacher.teacher_id paper_info.paperID %}">
                            {% csrf_token %}
                            <tr>
                                <td>{{ paper_info.paperID }}</td>
                                <td><input autocomplete="off" type="text" class="form-control" name="title" value="{{ paper_info.title }}">
                                </td>
                                <td><input autocomplete="off" type="text" class="form-control" name="journal"
                                        value="{{ paper_info.journal }}">
                                </td>
                                <td><input autocomplete="off" type="date" class="form-control" name="publication_date"
                                        value="{{ paper_info.date|date:'Y-m-d' }}"></td>
                                <td class="action-column">
                                    <button type="submit" class="btn btn-secondary update-btn">Update</button>
                                    <a href="{% url 'delete_paper_idv' teacher.teacher_id paper_info.paperID  %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- Add a hidden field to store Paper ID -->
                                    <input autocomplete="off" type="hidden" name="paperID" value="{{ paper_info.paperID }}">
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Placeholder for Conference -->
        <div class="card">
            <div class="card-header">
                <h2>Conference Details</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Conference ID</th>
                            <th>Conference Name</th>
                            <th>Location</th>
                            <th>Date Attended</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conference_info in conference %}
                        <form id="conference_idv" method="POST"
                            action="{% url 'update_conference_idv' teacher.teacher_id conference_info.conferenceID %}">
                            {% csrf_token %}
                            <tr>
                                <td>{{ conference_info.conferenceID }}</td>
                                <td><input autocomplete="off" type="text" class="form-control" name="conferenceName"
                                        value="{{ conference_info.name }}"></td>
                                <td><input autocomplete="off" type="text" class="form-control" name="location"
                                        value="{{ conference_info.location }}"></td>
                                <td><input autocomplete="off" type="date" class="form-control" name="dateAttended"
                                        value="{{ conference_info.date|date:'Y-m-d' }}"></td>
                                <td class="action-column">
                                    <button type="submit" class="btn btn-secondary update-btn">Update</button>
                                    <a href="{% url 'delete_conference_idv' teacher.teacher_id conference_info.conferenceID %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- Add a hidden field to store Conference ID -->
                                    <input autocomplete="off" type="hidden" name="conferenceID" value="{{ conference_info.conferenceID }}">
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Placeholder for Patent -->
        <div class="card">
            <div class="card-header">
                <h2>Patent Details</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Patent ID</th>
                            <th>Title</th>
                            <th>Patent Number</th>
                            <th>Date Issued</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patent_info in patent %}
                        <form id="patent_idv" method="POST"
                            action="{% url 'update_patent_idv' teacher.teacher_id patent_info.patentID %}">
                            {% csrf_token %}
                            <tr>
                                <td>{{ patent_info.patentID }}</td>
                                <td><input autocomplete="off" type="text" class="form-control" name="title"
                                        value="{{ patent_info.title }}">
                                </td>
                                <td><input autocomplete="off" type="text" class="form-control" name="patentNumber"
                                        value="{{ patent_info.patentnum }}"></td>
                                <td><input autocomplete="off" type="date" class="form-control" name="dateIssued"
                                        value="{{ patent_info.date|date:'Y-m-d' }}"></td>
                                <td class="action-column">
                                    <button type="submit" class="btn btn-secondary update-btn">Update</button>
                                    <a href="{% url 'delete_patent_idv' teacher.teacher_id patent_info.patentID %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- Add a hidden field to store Patent ID -->
                                    <input autocomplete="off" type="hidden" name="patentID" value="{{ patent_info.patentID }}">
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Placeholder for Work Experience -->
        <div class="card">
            <div class="card-header">
                <h2>Work Experience</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Experience ID</th>
                            <th>Organization</th>
                            <th>Position</th>
                            <th>Experience</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exp_info in work_exp %}
                        <form id="work_exp_idv" method="POST"
                            action="{% url 'update_work_exp_idv' teacher.teacher_id exp_info.expID %}">
                            {% csrf_token %}
                            <tr>
                                <td>{{ exp_info.expID }}</td>
                                <td><input autocomplete="off" type="text" class="form-control" name="organization"
                                        value="{{ exp_info.ord }}">
                                </td>
                                <td><input autocomplete="off" type="text" class="form-control" name="position"
                                        value="{{ exp_info.position }}">
                                </td>
                                <td><input autocomplete="off" type="number" class="form-control" name="experience"
                                        value="{{ exp_info.experience }}"></td>
                                <td class="action-column">
                                    <button type="submit" class="btn btn-secondary update-btn">Update</button>
                                    <a href="{% url 'delete_work_exp_idv' teacher.teacher_id exp_info.expID %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- Add a hidden field to store Experience ID -->
                                    <input autocomplete="off" type="hidden" name="expID" value="{{ exp_info.expID }}">
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Placeholder for Certificates -->
        <div class="card">
            <div class="card-header">
                <h2>Certificate Details</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Certificate ID</th>
                            <th>Title</th>
                            <th>Issuer</th>
                            <th>Issue Date</th>
                            <th>Certificate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for certificate_info in certificate %}
                        <form id="certificate_idv" method="POST"
                            action="{% url 'update_certificate_idv' teacher.teacher_id certificate_info.certID %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <tr>
                                <td>{{ certificate_info.certID }}</td>
                                <td><input autocomplete="off" type="text" class="form-control" name="title"
                                        value="{{ certificate_info.name }}">
                                </td>
                                <td><input autocomplete="off" type="text" class="form-control" name="issuer"
                                        value="{{ certificate_info.issueAuth }}">
                                </td>
                                <td><input autocomplete="off" type="date" class="form-control" name="issue_date"
                                        value="{{ certificate_info.issueDate|date:'Y-m-d' }}"></td>
                                <td>
                                    <label for="certificateFile" class="form-label">Certificate File</label>
                                    <input autocomplete="off" type="file" class="form-control" id="certificateFile" name="certificateFile"
                                        accept=".pdf, .doc, .docx">
                                </td>
                                <td class="action-column">
                                    <button type="submit" class="btn btn-secondary update-btn">Update</button>
                                    <a href="{% url 'delete_certificate_idv' teacher.teacher_id certificate_info.certID %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- Add a hidden field to store Certificate ID -->
                                    <input autocomplete="off" type="hidden" name="certificateID"
                                        value="{{ certificate_info.certID }}">
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Placeholder for EducationDetails -->
        <div class="card">
            <div class="card-header">
                <h2>Education Details</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Education ID</th>
                            <th>Degree</th>
                            <th>Major</th>
                            <th>University</th>
                            <th>Year of Passing</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for education_info in education %}
                        <form id="education_idv" method="POST"
                            action="{% url 'update_education_details_idv' teacher.teacher_id education_info.eduID %}">
                            {% csrf_token %}
                            <tr>
                                <td>{{ education_info.eduID }}</td>
                                <td><input autocomplete="off" type="text" class="form-control" name="degree"
                                        value="{{ education_info.degree }}"></td>
                                <td><input autocomplete="off" type="text" class="form-control" name="major"
                                        value="{{ education_info.major }}">
                                </td>
                                <td><input autocomplete="off" type="text" class="form-control" name="university"
                                        value="{{ education_info.uni }}"></td>
                                <td><input autocomplete="off" type="text" class="form-control" name="yearOfPassing"
                                        value="{{ education_info.yearofpass }}"></td>
                                <td class="action-column">
                                    <button type="submit" class="btn btn-secondary update-btn">Update</button>
                                    <a href="{% url 'delete_education_details_idv' teacher.teacher_id education_info.eduID %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- Add a hidden field to store Education ID -->
                                    <input autocomplete="off" type="hidden" name="eduID" value="{{ education_info.eduID }}">
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <a class="btn btn-primary" href="{% url 'teacher_dashboard' teacher.teacher_id %}">Back to Dashboard</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".update-btn").click(function () {
                // Get the row associated with the clicked button
                var row = $(this).closest("tr");

                // Create an object to store row data
                var rowData = {};

                // Iterate through all input fields in the row and add them to the object
                row.find(":input").each(function () {
                    var field = $(this);
                    rowData[field.attr("name")] = field.val();
                });

                // Log the data to the console (you can send it in a POST request)
                console.log(JSON.stringify(rowData));
            });
        });
    </script>
    <!-- Back to Dashboard Button -->


    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>